import { TranslocoUtils } from '@barcidev/typed-transloco';

const esCO = {
  title: 'Titulo'
};
const enUS = {
  title: 'Title'
};

export const <%= camelize(name) %>I18n = TranslocoUtils.createScopeConfig('<%= camelize(name) %>', {
    'en-US': enUS,
    'es-CO': esCO
  });
