import { TranslationScopeConfig } from '@barcidev/typed-transloco';

const esCO = {
  title: 'Titulo'
};
const enUS = {
  title: 'Title'
};

const scope = '<%= camelize(name) %>' as const;

export const <%= camelize(name) %>I18n: TranslationScopeConfig<typeof esCO, typeof scope> = {
  scope,
  translations: {
    'en-US': enUS,
    'es-CO': esCO
  }
};
